<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="eclinic" connectionString="data source=LAPTOP-SQU18UHI\SQLEXPRESS;INTEGRATED SECURITY=TRUE;INITIAL CATALOG=eclinic;"/>
    <add name="eclinicConnectionString" connectionString="Data Source=LAPTOP-SQU18UHI\SQLEXPRESS;Initial Catalog=eclinic;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="hospitaldatabasesecurityConnectionString" connectionString="Data Source=LAPTOP-SQU18UHI\SQLEXPRESS;Initial Catalog=eclinic;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <!--<add name="eclinic" connectionString="data source=198.71.227.2;User id=Harman;password=Harman@9599929953;INITIAL CATALOG=AttributeEncryption ;"/>
    <add name="eclinicConnectionString" connectionString="Data Source=198.71.227.2;Initial Catalog=AttributeEncryption ;User id=Harman;password=Harman@9599929953;" providerName="System.Data.SqlClient"/>
    <add name="hospitaldatabasesecurityConnectionString" connectionString="Data Source=198.71.227.2;Initial Catalog=AttributeEncryption;User id=Harman;password=Harman@9599929953;" providerName="System.Data.SqlClient"/>-->
 
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
      <trust level="Full" />
    <customErrors mode="Off">
    
    </customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Device, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>